body {
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,63,157,1) 34%, rgba(0,212,255,1) 100%);
}

input {
    border: none;
    outline: none;
}

.card-login {
    margin-top: 20% !important;
}

